# Getting info on eSports players from Liquipedia

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import html5lib

# from time import sleep # in case liquipedia blocks me

In [12]:
players_df = pd.read_html('https://liquipedia.net/dota2/Players_(all)', header=0)[0]
players_df.drop(columns={'Unnamed: 0', 'Links'}, inplace=True)

In [14]:
players_df.head()

            ID                         Name       Team
0         .Ark            Egor Zhabotinskii        NaN
1  13abyKnight                 Jon Andersen        NaN
2         1437  Sivatheeban Sivanathapillai  TNC Tiger
3          290                    Zeng Chen    PiPiXia
4          2GD                James Harding        NaN

In [15]:
players_ids = players_df['ID'].tolist()