In [8]:
import pandas as pd

In [12]:
players_df = pd.read_csv('~/dotaMediaTermPaper/data/players_df.csv', index_col=0)
players_df = players_df.rename(columns={'search_count':'search_count_player', 'total_earn':'total_earn_player'})

In [13]:
players_df.head()

,name,search_count_player,ID,Team,status,total_earn_player
0,Egor Zhabotinskii,52600,.Ark,NaN,Active\n,6529.0
1,Jon Andersen,45100000,13abyKnight,NaN,Active\n,101159.0
2,Sivatheeban Sivanathapillai,1020,1437,TNC Tiger,Active\n,193527.0
3,Zeng Chen,914000,290,PiPiXia,Active\n,2869.0
4,James Harding,6830000,2GD,NaN,Inactive\n,NaN